.edit {
	background-color: #00c873 !important;
	border-color: #00c873 !important;
}

.delete {
	background-color: #ff4c54 !important;
	border-color: #ff4c54 !important;
}

.lock {
	background-color: #ff9f4f !important;
	border-color: #ff9f4f !important;
}

.unlock {
	background-color: #1890ff !important;
	border-color: #1890ff !important;
}

.info {
	background-color: #1890ff !important;
	border-color: #1890ff !important;
}
